@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	font-family: "Rubik", sans-serif;
	font-size: initial;
	background-color: rgb(38, 38, 38);
	color: whitesmoke;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

main {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 0.5rem;
}

main > h3 {
	margin-block-start: 2.5rem;
	text-transform: uppercase;
}

form {
	display: flex;
	flex-direction: column;
	/* gap: 0.75rem; */
	width: 100%;
	max-width: 32rem;
	margin-block-start: 2rem;
}

form label {
	font-weight: 500;
	text-transform: capitalize;
}

form > input,
form > select {
	margin-block-end: 1.25rem;
}

form > button {
	background: rgb(138, 192, 209);
	display: grid;
	place-items: center;
	border: none;
	border-radius: 4px;
	padding-inline: 8px;
	padding-block: 4px;
	cursor: pointer;
}

.success-msg,
.error-msg {
	display: flex;
	gap: 0.25rem;
	align-items: center;
	margin: 10px 0;
	padding: 8px;
	border-radius: 3px 3px 3px 3px;
	font-size: 0.875rem;
}

.success-msg {
	color: #270;
	background-color: #dff2bf;
}

.error-msg {
	color: #d8000c;
	background-color: #ffbaba;
}

.hide {
	display: none;
}

.loader {
	border: 5px solid #f3f3f3; /* Light grey */
	border-top: 5px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
